In [2]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv('breast-cancer-data.csv')
df.head()

,mean_radius,mean_texture,mean_perimeter,mean_area,mean_smoothness,diagnosis
0,17.99,10.38,122.80,1001.0,0.11840,0
1,20.57,17.77,132.90,1326.0,0.08474,0
2,19.69,21.25,130.00,1203.0,0.10960,0
3,11.42,20.38,77.58,386.1,0.14250,0
4,20.29,14.34,135.10,1297.0,0.10030,0

In [8]:
df.shape

(569, 6)

In [9]:
df.columns

Index(['mean_radius', 'mean_texture', 'mean_perimeter', 'mean_area',
       'mean_smoothness', 'diagnosis'],
      dtype='object')

In [13]:
df['diagnosis'].unique().sum()

1

In [14]:
df.sample(10)

,mean_radius,mean_texture,mean_perimeter,mean_area,mean_smoothness,diagnosis
23,21.16,23.04,137.20,1404.0,0.09428,0
444,18.03,16.85,117.50,990.0,0.08947,0
60,10.17,14.88,64.55,311.9,0.11340,1
215,13.86,16.93,90.96,578.9,0.10260,0
414,15.13,29.81,96.71,719.5,0.08320,0
329,16.26,21.88,107.50,826.8,0.11650,0
24,16.65,21.38,110.00,904.6,0.11210,0
408,17.99,20.66,117.80,991.7,0.10360,0
360,12.54,18.07,79.42,491.9,0.07436,1
190,14.22,23.12,94.37,609.9,0.10750,0